// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.post-footer{margin-top:10px;padding:5px;background:none repeat scroll 0pt 0pt #eee;font-size:90%;color:gray}
.post-footer a:link{text-decoration:none;}
.post-footer a:visited{text-decoration:none;}
a:visited{color:#1863a1;}
a:hover{color:#0181eb;}
pre {tab-size: 4;}
//* + table {border-style: solid; border-width:1px; border-color: #e7e3e7;}
* + table th, * + table td {border-style:dashed; border-width:1px; border-color:#e7e3e7;padding-left: 3px; padding-right: 3px;}
* + table th {border-style:solid;font-weight:bold;}
* + table th[align="left"], * + table td[align="left"] {text-align:left;}
* + table th[align="right"], * + table td[align="right"] {text-align:right;}
* + table th[align="center"], * + table td[align="center"] {text-align:center;}
h5 {color: #21759b !important;}
body{font-size: 1em;}