// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.post-footer{margin-top:10px;padding:5px;background:none repeat scroll 0pt 0pt #eee;font-size:90%;color:gray}
.post-footer a:link{text-decoration:none;}
.post-footer a:visited{text-decoration:none;}
a:visited{color:#1863a1;}
a:hover{color:#0181eb;}
pre {tab-size: 4;}